<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Yuneka</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="/logo.jpg">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li ><%= link_to 'Anasayfa', root_path %></li>
            <li><a href="/pages/2">Hakkımızda</a></li>
            <li><%= link_to 'Ürünler', root_path %></li>
            <li><a href="#">Kütüphane</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">İletişim <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="pages/7">İletişim</a></li>
                <li class="divider"></li>
                <li><a href="#">Teknik Servis</a></li>
              </ul>
            </li>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Arama">
              </div>
            </form>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Copyright 2015 Yuneka. Her hakkı saklıdır.</p>
    </div>
  </footer>
  
</body>
</html>
